<footer class="bg-body-secondary">
  <div class="f-info d-flex flex-wrap text-center justify-content-center">
    <div class="f-info-social w-100">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div>&copy;Wanderlust Private Limited</div>
    <div class="f-info-links w-100">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
